/* Navbar */
a{
  text-decoration: none;
  color: #fff;
  padding: 0 !important;
  margin: 0 ;
}
.alert-danger{
   padding: 4px;
   margin: 5px 0 5px 0;
}

#basic-nav-dropdown{
    color:#5bc0de;
    font-size: 1.3rem;
    font-weight: 500;

}

div.dropdown-menu{
    padding: 0.2rem 0.4rem ;
}

div.dropdown-menu > a {
    font-size: 1.1rem;
    font-weight: 500;
}
/* Logo */
.memotrack-logo{
    width: 80px;
}

/* Card styling */
.card {
    height: 10rem;
    overflow: hidden;
}
.card-body{
    border-radius: 5px;
}
.card-title, .djName{
    color: rgb(26, 153, 0);
}
